- name: Install HAProxy
  ansible.builtin.package:
    name: haproxy
    state: present

- name: Deploy HAProxy configuration
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: '0644'
  notify:
    - Restart haproxy

- name: Ensure HAProxy service is running and enabled
  ansible.builtin.service:
    name: haproxy
    state: started
    enabled: true
